.idea
/uploads
client_secret_170739752937-uceqjuv09ibt188k861jeqs17k3vu9k3.apps.googleusercontent.com.json
client_secret_170739752937-0fk7g3aqnbh39qmse8a6cuvdfv47hj58.apps.googleusercontent.com.json
token.json
.env-secret
/temp_send